// 반응형 breakpoint
$desktop : 1024px;

@mixin desktop{
  @media all and (min-width : $desktop){
    @content;
  }
}

//버튼 처리
@mixin btn-style($bg-color : #fff){
  background-color: $bg-color;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
  &:hover{
    filter: brightness(0.8);
  }
}

//레이아웃 플렉스 
@mixin flex-layout($dir:row, $just:center, $align:center, $gap:1rem){
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
  gap: $gap;
}