// 기본 색상 지정
:root {
  --color-primary: #f1aea9;
  --color-sub1: #C3B8FF;
  --color-sub2: #A8CAE0;
  --color-bg: #F8EED7;
  --color-hd : #F8F5F6;
  --color-gray: #FAFAFA;
  --color-black: #333333;
  --color-dark: #666666;
}