@use "../../assets/scss/mixin" as *;
@use "../../assets/scss/variables" as *;

#banner {
  width: 100%;
  padding-top: 3rem;
  background-color: var(--color-bg);
  @include desktop{
    padding: 1rem 0
  }
  .bg-wrap {
    width: 90%;
    max-width: 1024px;
    height: 250px;
    margin: 0 auto;
    background-color: var(--color-sub2);
    @include flex-layout(column, flex-end, flex-start);
    @include desktop {
      display: block;
      max-width: 70%;
      height: 300px;
      margin: 0 auto;
      padding: 1.5rem 3rem;
    }

    .text-wrap {
      width: 100%;
      height: 50%;
      // background-color: #fff;
      background-color: var(--color-gray);
      @include flex-layout(column, space-between, center, 1rem);
      padding: 1rem ;
      @include desktop {
        width: 250px;
        height: 250px;
        // margin: 1.5rem 3rem;;
        box-shadow: 1px 3px 12px rgba(119, 119, 119, 0.6);
        @include flex-layout(column, center, center, 1rem);
      }
      h1 {
        font-size: 1.2rem;
        font-weight: 500;
        @include desktop{
          text-align: center;
          font-size: 1rem;
        }
      }
      img {
        display: none;
        @include desktop{
          display: block;
        }
        width: 100px;
      }
      button {
        @include btn-style(var(--color-sub1));
        display: inline-block;
        text-align: center;
        transform: scale(1.2);
      }
    }
  }
}
