@use '../../assets/scss/mixin' as *;
@use '../../assets/scss/variables' as *;

#category{
  margin: 1rem auto;
  text-align: center;
  h2{
    @include btn-style(var(--color-sub2));
    display: inline-block
  }
  h3{
    margin: 1rem 0;
  }
  ul{
    margin: 2rem 0;
    @include flex-layout();
    gap: 2rem;
    flex-wrap : wrap;
    li{
      transition: 0.3s;
      cursor: pointer;
      img{
        border-radius: 50%;
        transform: scale(1.1);
        transition: 0.5s;
      }
      &:hover{
        transform: translateY(-10px);
        img{
          box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
        }
        p{
          color: var(--color-primary);
        }
      }
    }
  }
}