@use '../../assets/scss/mixin'as *;

nav{
  position: relative;
  padding: 1rem 0;

  div.mobile-togle{
    cursor: pointer;
    @include flex-layout(row, flex-start);
    color: var(--color-dark);
    @include desktop{
      display: none;
    }

    button{
      background:none;
      border: none;
      outline: none;
      font-size: 2rem;
      line-height: 0;
      color: var(--color-dark);
      transition: 0.3s;
      &:hover{
        color: var(--color-primary);
      }
    }
    span{
      font-size: 1.1rem;
    }
  }

  div.menu-wrap{
    position: absolute;
    width: 100%;
    left: 0;
    display: none;
    // max-height: 0;
    transition: 0.3s;
    &.on{
      display: block;
      max-height: auto;
    }
    @include desktop{
      display: flex !important; //무적권 실행
      @include flex-layout(row, space-between, center, 0);
      top: 0;
    }
  }

  ul{
    padding: 1rem ;
    background-color: var(--color-gray);
    @include desktop{
      background:none;
      @include flex-layout();
    }
    li{
      padding: 0.5rem 0;
      cursor: pointer;
    }
  }

  ul.menu-top{
    font-size: 1.1rem;
    li{
      border-bottom: 1px solid var(--color-dark);
      &:hover{
        color: var(--color-primary);
      }
      @include desktop{
        border-bottom: none;
      }
    }
  }

  ul.menu-bottom{
    color: var(--color-dark);
    li{
      &:hover{
        color: var(--color-sub1);
        text-decoration: underline;
      }
    }
  }
}
